@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
body {
    height: 100%;
    /*font-family: 'Montserrat';*/
    font-family: 'Open Sans Condensed', sans-serif;
}

.header {
    height: 768px;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.logo {
    float: left;
    margin-top: 10px;
}

.menu {
    /*margin-top: 10px;*/
    height: 50px;
}

.menu-item {
    margin-left: 150px;
}

.menu-item > li {
    font-size: 24px;
    list-style-type: none;
    font-weight: 600;
    float: left;
    margin-left: 30px;
}

#call {
    width: 300px;
    height: 70px;
    border: 1px solid black;
    background-color: transparent;

    border-radius: 1000px;
}

#call:hover {
    background-color: green;
}